<h1>Confirmação de Compra (Crédito Consignado)<h1>

<h3>A operação somente estará aprovada após a assinatura dos instrumentos necessários a
concretização do empréstimo</h3>

<h4>Prezado [cliente],
Sua transação foi finalizada com sucesso. O(s) produto(s) comprado(s) estão garantidos para
o seu pedido faltando apenas a confirmação da operação de crédito consignado para envio dos
mesmos. A instituição financeira responsável pela finalização da operação entrará em contato
em aproximadamente 1 hora.
* Se sua compra foi feita fora do horário comercial aguarde até o primeiro dia útil para receber
o contato telefônico da instituição financeira.
</h4>

