<h1>Produtos</h1>

<table>
  <tr>
    <th>Nome</th>
  </tr>
  <tr>
    <td><%= link_to 'Serviço 1', root_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'Serviço 2', root_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'Serviço 3', root_path %></td>
  </tr>
</table>

<br />

